/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.Sign_Form {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px 18px 18px 18px;
    box-shadow: 5px 5px 5px #888888;
    margin: 80px 161px auto; 
    padding-bottom: 20px;
    padding-top: 2px;
    text-align: center;
    width: 500px;
}
.Signup_Errors{
	list-style-type: none;
	text-align:left;
	margin-left:66px;
	color:red;
}
.User_Header{

	background-color: rgba(0, 0, 0, .2);
	border-radius: 18px;
	margin:auto;
	/*width:220px;*/
	text-align:center;
}
.has-error .help-block, .has-error .control-label {
color: #b94a48;
}
.has-error .form-control {
border-color: #b94a48;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
